Specification/CALSinPureODD.odd

<?xml version="1.0" encoding="UTF-8"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml" schematypens="http://relaxng.org/ns/structure/1.0"?>
<?xml-model href="http://www.tei-c.org/release/xml/tei/custom/schema/relaxng/tei_all.rng" type="application/xml"
	schematypens="http://purl.oclc.org/dsdl/schematron"?>
<TEI xmlns="http://www.tei-c.org/ns/1.0" xmlns:rng="http://relaxng.org/ns/structure/1.0">
   <!-- 
      https://www.oasis-open.org/specs/tablemodels.php
      https://www.oasis-open.org/specs/a502.htm
   https://www.oasis-open.org/specs/tr9503.html
   -->
   <teiHeader>
      <fileDesc>
         <titleStmt>
            <title>ODD specification of the OASIS CALS model</title>
            <author>
               <persName>
                  <forename>Laurent</forename>
                  <surname>Romary</surname>
               </persName>
               <persName>
                  <forename>Julien</forename>
                  <surname>Romary</surname>
               </persName>
            </author>
         </titleStmt>
         <publicationStmt>
            <p>Publication Information</p>
         </publicationStmt>
         <sourceDesc>
            <bibl><title>EXCHANGE TABLE MODEL DOCUMENT TYPE DEFINITION</title> SGML Open Technical
               Resolution TR 9503:1995 Harvey Bingham, Interleaf, Chair, Table Interchange
               Subcommittee, SGML Open Revision date: 1996 May 8 Copyright © 1995, 1996 by OASIS
            </bibl>
         </sourceDesc>
      </fileDesc>
   </teiHeader>
   <text>
      <body>
         <div type="documentation">
            <div n="7">
               <head>Element and attribute description for <gi>entry</gi></head>
               <div n="7.1">
                  <head>General</head>
                  <p>Identifies an <gi>entry</gi> in a <gi>row</gi> of a <gi>thead</gi> or
                        <gi>tbody</gi> in a <gi>tgroup</gi>.</p>
               </div>
            </div>
         </div>
         <div type="specification">
            <schemaSpec ident="calsModel" start="calstable">
               <moduleSpec ident="cals"/>

               <!--
               <macroSpec mode="add" ident="yesorno">
                  <content>
                     <rng:choice>
                        <rng:value>0</rng:value>
                        <rng:value>1</rng:value>
                     </rng:choice>
                  </content>
               </macroSpec>
               -->

               <dataSpec ident="teidata.yesorno">
                  <desc>Declaration of boolean type</desc>
                  <content>
                     <dataRef name="nonNegativeInteger"/>
                  </content>
               </dataSpec>

               <elementSpec mode="add" ident="calstable" ns="http://www.oasis-open.org/specs/tm9901">
                  <altIdent>table</altIdent>
                  <desc>The <gi>table</gi> element markup identifies a table.</desc>
                  <classes>
                     <memberOf key="model.inter"/>
                  </classes>
                  <content>
                     <elementRef key="calstabletitle" minOccurs="0" maxOccurs="1"/>
                     <elementRef key="tgroup" minOccurs="1"/>
                     <!-- 
                     <rng:optional>
                        <rng:ref name="calstabletitle"/>
                     </rng:optional>
                     <rng:oneOrMore>
                        <rng:ref name="tgroup"/>
                     </rng:oneOrMore>
                      -->
                  </content>
                  <attList>
                     <attDef ident="corresp" ns="http://www.tei-c.org/ns/1.0">
                        <datatype>
                           <dataRef key="anyURI"/>
                           <!-- <rng:data type="anyURI"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="style" ns="http://www.iso.org/ns/1.0">
                        <datatype>
                           <rng:text/>
                        </datatype>
                     </attDef>
                     <attDef ident="xml:id">
                        <datatype>
                           <dataRef key="ID"/>
                           <!-- <rng:data type="ID"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="frame">
                        <desc>Describes position of outer rulings.</desc>
                        <valList type="closed">
                           <valItem ident="top"/>
                           <valItem ident="bottom"/>
                           <valItem ident="topbot"/>
                           <valItem ident="all"/>
                           <valItem ident="sides"/>
                           <valItem ident="none"/>
                        </valList>
                     </attDef>

                     <attDef ident="colsep">
                        <desc> Provides default for all <gi>tgroup</gi>s in this <gi>table</gi>. If
                           a number other than zero, display the internal column rulings to the
                           right of each <gi>entry</gi>. </desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>

                     <attDef ident="rowsep">
                        <desc> Provides default for all <gi>tgroup</gi>s in this <gi>table</gi>. If
                           other than zero, display the internal horizontal row ruling below each
                              <gi>entry</gi> ending in a <gi>row</gi>. </desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <!-- 
                     <attDef ident="pgwide">
                        <datatype>
                           <dataRef key="teidata.yesorno"/>   
                        </datatype>
                     </attDef>
                      -->
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="tgroup" ns="http://www.oasis-open.org/specs/tm9901">
                  <desc>Each <gi>tgroup</gi> effectively identifies a new portion of a
                        <gi>table</gi>.</desc>
                  <content>

                     <elementRef key="colspec" minOccurs="0" maxOccurs="unbounded"/>
                     <elementRef key="thead" minOccurs="0" maxOccurs="1"/>
                     <elementRef key="tbody"/>
                     <!-- 
                     <rng:zeroOrMore>
                        <rng:ref name="colspec"/>
                     </rng:zeroOrMore>
                     <rng:optional>
                        <rng:ref name="thead"/>
                     </rng:optional>
                     <rng:ref name="tbody"/>
                     -->

                  </content>
                  <attList>
                     <attDef ident="cols" usage="req">
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="colsep">
                        <desc>Provides default for all <gi>colspec</gi>s in this <gi>tgroup</gi>. If
                           other than zero, display the internal column rulings to the right of
                              <gi>entry</gi>.</desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="rowsep">
                        <desc>Provides default for <gi>colspec</gi>s in this <gi>tgroup</gi>. If
                           other than zero, display the internal horizontal row ruling below each
                              <gi>entry</gi>.</desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="align">
                        <desc>Text horizontal position within the column.</desc>
                        <valList type="closed">
                           <valItem ident="left"/>
                           <valItem ident="right"/>
                           <valItem ident="center"/>
                           <valItem ident="justify"/>
                           <valItem ident="char"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="colspec" ns="http://www.oasis-open.org/specs/tm9901">
                  <desc>Specifies a column, a vertical portion of a <gi>table</gi>.</desc>
                  <content>
                     <empty/>
                     <!-- <rng:empty/> -->
                  </content>
                  <attList>
                     <attDef ident="colnum">
                        <desc>Number of column, counting from 1 at left of the table.</desc>
                        <datatype>
                           <dataRef name="nonNegativeInteger"/>
                        </datatype>
                        <remarks>
                           <p>The value of colnum is not useful to identify a column in an
                                 <gi>entry</gi>, so serves no functional purpose other than a
                              consistency check on the order of the <gi>colspec</gi>s.</p>
                        </remarks>
                     </attDef>
                     <attDef ident="colname">
                        <desc>Name of column, used to specify the position or horizontal span of
                           columns in a row by reference in <gi>entry</gi> using colname, namest,
                           and/or nameend.</desc>
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="colwidth">
                        <desc>Either proportional measure of the form number* or fixed measure (pt,
                           pi, pica).</desc>
                        <datatype>
                           <rng:text/>
                        </datatype>
                     </attDef>
                     <attDef ident="colsep">
                        <desc>Default for column ruling to the right of <gi>entry</gi>s starting in
                           this column (within the <gi>tgroup</gi>).</desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="rowsep">
                        <desc>Default for row ruling below an <gi>entry</gi> starting in this column
                           when there is neither a rowsep value on the <gi>entry</gi> nor on the
                              <gi>row</gi>.</desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="align">
                        <desc>Text horizontal position within the column or spanning columns. Possible default source for <gi>entry</gi>.</desc>
                        <valList type="closed">
                           <valItem ident="left"/>
                           <valItem ident="right"/>
                           <valItem ident="center"/>
                           <valItem ident="justify"/>
                           <valItem ident="char"/>
                        </valList>
                     </attDef>
                     <attDef ident="char">
                        <datatype>
                           <dataRef key="teidata.text"/>
                           <!-- <rng:text/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="charoff">
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="calstabletitle"
                  ns="http://www.oasis-open.org/specs/tm9901">
                  <altIdent>title</altIdent>
                  <content>
                     <elementRef key="macro.paraContent"/>
                     <!-- <rng:ref name="macro.paraContent"/> -->
                  </content>
                  <attList>
                     <attDef ident="xml:id">
                        <datatype>
                           <dataRef key="ID"/>
                           <!-- <rng:data type="ID"/> -->
                        </datatype>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="thead" ns="http://www.oasis-open.org/specs/tm9901">
                  <desc>Identifies the heading <gi>row</gi>s of a <gi>tgroup</gi>, displayed as the first rows,
                     and again at the top of any continuation after a physical break between <gi>rows</gi> in <gi>tbody</gi>.</desc>
                  <content>
                     <elementRef key="calsrow" minOccurs="1" maxOccurs="unbounded"/>
                     <!-- 
                     <rng:oneOrMore>
                        <rng:ref name="calsrow"/>
                     </rng:oneOrMore>
                      -->
                  </content>
                  <attList>
                     <attDef ident="valign">
                        <desc>Default text vertical positioning within the <gi>entry</gi>s. Provides 
                           default value for <gi>row</gi>s and <gi>entry</gi>s in <gi>thead</gi>.</desc>
                        <valList type="closed">
                           <valItem ident="top"/>
                           <valItem ident="middle"/>
                           <valItem ident="bottom"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="tbody" ns="http://www.oasis-open.org/specs/tm9901">
                  <desc>Identifies the body of a <gi>tgroup</gi>.</desc>
                  <content>
                     <elementRef key="calsrow" minOccurs="1" maxOccurs="unbounded"/>
                     <!-- 
                     <rng:oneOrMore>
                        <rng:ref name="calsrow"/>
                     </rng:oneOrMore>
                      -->
                  </content>
                  <attList>
                     <attDef ident="valign">
                        <desc>Default Text vertical positioning within the <gi>entry</gi>s. 
                           Provides default value for <gi>row</gi> and <gi>entry</gi>s in <gi>tbody</gi>.</desc>
                        <valList type="closed">
                           <valItem ident="top"/>
                           <valItem ident="middle"/>
                           <valItem ident="bottom"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <elementSpec mode="add" ident="calsrow" ns="http://www.oasis-open.org/specs/tm9901">
                  <altIdent>row</altIdent>
                  <desc>Identifies the row information in a <gi>thead</gi> or <gi>tbody</gi> element. </desc>
                  <content>
                     <elementRef key="entry" minOccurs="1" maxOccurs="unbounded"/>
                     <!-- 
                     <rng:oneOrMore>
                        <rng:ref name="entry"/>
                     </rng:oneOrMore>
                      -->
                  </content>
                  <attList>
                     <attDef ident="style" ns="http://www.iso.org/ns/1.0">
                        <datatype>
                           <dataRef key="teidata.text"/>
                           <!-- <rng:text/> -->
                        </datatype>
                     </attDef>

                     <attDef ident="rowsep">
                        <desc>Default for all <gi>entry</gi>s starting in this <gi>row</gi>
                           that do not specify rowsep. If other than zero, display 
                           the internal horizontal row ruling below an <gi>entry</gi> in the <gi>row</gi>.</desc>
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="valign">
                        <desc>Text vertical positioning default for <gi>entry</gi>s in a <gi>row</gi>.</desc>
                        <valList type="closed">
                           <valItem ident="top"/>
                           <valItem ident="middle"/>
                           <valItem ident="bottom"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <!-- module="cals" prefix="cals_"  prefix="cals_" -->

               <elementSpec ident="entry" mode="add" ns="http://www.oasis-open.org/specs/tm9901">
                  <gloss>Entry in Table</gloss>
                  <desc>Identifies an <gi>entry</gi> in a <gi>row</gi> of a <gi>thead</gi>,
                        <gi>tfoot</gi>, or <gi>tbody</gi> in a <gi>tgroup</gi> or <gi>entrytbl</gi>.
                     Default values for colsep, rowsep, valign, align, char, and charoff may come
                     from like-named attributes from the nearest element identified as influencing
                     this <gi>entry</gi>. The values may come from <gi>table</gi> (or a tabstyle
                     therein), <gi>tgroup</gi> (or a tgroupstyle therein), <gi>spanspec</gi>
                     (defining the spanname), <gi>colspec</gi> (defining namest or colname),
                        <gi>tbody</gi>, <gi>row</gi>, or when within an <gi>entrytbl</gi> those
                     elements so contained, or its tgroupstyle. Note that <gi>colspec</gi> and
                        <gi>spanspec</gi> are not strictly in the element lineage.</desc>
                  <classes>
                     <memberOf key="att.global.CALSlayout"/>
                  </classes>
                  <content>
                     <alternate>
                        <!-- #PCDATA in the original spec -->
                        <textNode/>
                        <!-- added to provide TEI compatibility -->
                        <elementRef key="p"/>
                        <classRef key="model.global"/>
                        <macroRef key="macro.paraContent"/>
                     </alternate>
                     <!--                     <rng:oneOrMore>
                        <rng:choice>
                           <rng:ref name="p"/>
                           <rng:ref name="model.global"/>
                           <rng:ref name="macro.paraContent"/>
                        </rng:choice>
                     </rng:oneOrMore>-->
                  </content>
                  <attList>
                     <attDef ident="style" ns="http://www.iso.org/ns/1.0">
                        <datatype>
                           <dataRef key="teidata.text"/>
                           <!-- <rng:text/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="colname">
                        <desc>Column name of <gi>entry</gi>. Ignore if namest is present.
                           It is an error if colname is not defined in a <gi>colspec</gi> of the current <gi>tgroup</gi>.</desc>
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="morerows">
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="rotate">
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="char">
                        <datatype>
                           <dataRef key="teidata.text"/>
                           <!-- <rng:text/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="charoff">
                        <datatype>
                           <dataRef key="NMTOKEN"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="valign">
                        <desc>Text horizontal position within the column or spanning columns.</desc>
                        <valList type="closed">
                           <valItem ident="top"/>
                           <valItem ident="middle"/>
                           <valItem ident="bottom"/>
                        </valList>
                     </attDef>
                  </attList>
               </elementSpec>

               <!-- <!ELEMENT spanspec - O EMPTY > 
                  <!ATTLIST spanspec
        namest          NMTOKEN                                 #REQUIRED
        nameend         NMTOKEN                                 #REQUIRED
        spanname        NMTOKEN                                 #REQUIRED
        colsep          %yesorno;                               #IMPLIED
        rowsep          %yesorno;                               #IMPLIED
        align           (left|right|center|justify|char)        #IMPLIED
        char            CDATA                                   #IMPLIED
        charoff         NUTOKEN                                 #IMPLIED
>
               -->

               <elementSpec ident="spanspec" module="cals">
                  <classes>
                     <memberOf key="att.global.CALSlayout"/>
                  </classes>
                  <content>
                     <empty/>
                  </content>
               </elementSpec>


               <!-- Macros -->

               <!-- <!ENTITY % tbl.entrytbl.mdl     "colspec*,spanspec*,thead?,tbody"> -->
               <macroSpec ident="macro.tbl.entrytbl.mdl">
                  <content>
                     <elementRef key="spanspec" minOccurs="0" maxOccurs="unbounded"/>
                  </content>
               </macroSpec>

               <!-- <!ENTITY % tbl.entry.mdl        "(para|warning|caution|note|legend|%paracon;)*"> -->

               <!-- To be discussed depending on the content model we aim at (e.g. <p> for PDM compatibility) -->

               <!--<macroSpec ident="macro.tbl.entry.mdl">
                  <content>
                     <elementRef key="spanspec" minOccurs="0" maxOccurs="unbounded"/>
                  </content>
               </macroSpec>
               -->


               <!-- Attribute classe -->

               <!-- 
                  namest          NMTOKEN                           #REQUIRED
                  nameend         NMTOKEN                        #REQUIRED
                  spanname        NMTOKEN                       #REQUIRED
                  colsep          %yesorno;                               #IMPLIED
                  rowsep          %yesorno;                               #IMPLIED
                  align           (left|right|center|justify|char)        #IMPLIED
                  char            CDATA                                   #IMPLIED
                  charoff         NUTOKEN     
 -->

               <classSpec type="atts" ident="att.global.CALSlayout" module="cals">
                  <attList>
                     <attDef ident="namest">
                        <datatype>
                           <dataRef key="teidata.name"/>
                           <!-- <rng:data type="NMTOKEN"/> -->
                        </datatype>
                     </attDef>
                     <attDef ident="nameend">
                        <datatype>
                           <dataRef key="teidata.name"/>
                        </datatype>
                     </attDef>
                     <attDef ident="colsep">
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="rowsep">
                        <datatype>
                           <dataRef key="teidata.yesorno"/>
                           <!-- <rng:ref name="yesorno"/>  -->
                        </datatype>
                     </attDef>
                     <attDef ident="align">
                        <valList type="closed">
                           <valItem ident="left"/>
                           <valItem ident="right"/>
                           <valItem ident="center"/>
                           <valItem ident="justify"/>
                           <valItem ident="char"/>
                        </valList>
                     </attDef>
                  </attList>
               </classSpec>

            </schemaSpec>
         </div>
      </body>
   </text>
</TEI>
